<div class="container">

  <h2>Smart Allocation</h2>

  <!-- project dropdown -->
  <select [(ngModel)]="selectedProjectId">

    <option
      *ngFor="let p of projects"
      [value]="p.id">

      {{p.name}}

    </option>

  </select>


  <table>

    <tr>
      <th>Select</th>
      <th>Name</th>
      <th>Role</th>
      <th>Availability</th>
    </tr>


    <tr *ngFor="let emp of employees">

      <td>

        <input
          type="checkbox"
          [checked]="isSelected(emp.id)"
          (change)="toggleMember(emp)">

      </td>

      <td>{{emp.name}}</td>

      <td>{{emp.role}}</td>

      <td>{{emp.availability}}%</td>

    </tr>

  </table>


  <button
    (click)="confirmAllocation()">

    Confirm Allocation

  </button>

</div>