*{
 font-size: 12px;
}

.project-modal{

  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
   width: 50%;

  background: white;

  z-index: 99999;

  padding: 16px;

  border-radius: 16px;

  box-shadow: 0 10px 30px rgba(0,0,0,.2);
}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.title-row{
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-row h6{
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
}

.description{
  color: #6b7280;
  margin-top: 8px;
}

.close-btn{
  border: none;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
}

.status-badge,
.priority-badge{
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
}

.active{
  background: #dbeafe;
  color: #2563eb;
}

.high{
  background: #fee2e2;
  color: #dc2626;
}

.stats-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-top: 30px;
}

.label{
  color: #6b7280;
  font-size: 13px;
}

.stat-box h4{
  margin-top: 6px;
  font-size: 14px;
}

.section{
  margin-top: 16px;
}

.section h5,
.team-section h5{
  color: #6b7280;
  margin-bottom: 6px;
  font-size: 12px !important;
}

.skills{
  display: flex;
  gap: 10px;
}

.skills span{
  background: #f3f4f6;
  padding: 2px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 10px;
}

.action-buttons{
  margin-top: 20px;
  display: flex;
  justify-content:space-between;
  gap: 14px;
}

.allocate-btn{
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.suggest-btn{
  background: white;
  border: 1px solid #d1d5db;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.team-section{
  margin-top: 35px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

thead{
  color: #6b7280;
  text-align: left;
}

th,
td{
  padding:  8px;
  border-bottom: 1px solid #e5e7eb;
}

tbody td:first-child{
  font-weight: 600;
}