<div class="layout">

  <!-- SIDEBAR -->
  <app-sidebar></app-sidebar>

  <!-- MAIN -->
  <div class="main" [class.collapsed]="!sidebarService.isOpen">

    <!-- TOPBAR -->
    <header class="topbar">

      <!-- LEFT -->
      <div class="top-left">

        <!-- MENU -->
        <!-- <button class="menu-btn" (click)="sidebarService.toggle()">
          ☰
        </button> -->

        <!-- SEARCH -->
        <div class="search-wrapper">
          <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>

          <input type="text" placeholder="Search projects, tasks, people..." />
        </div>

      </div>

      <!-- RIGHT -->
      <div class="top-right">

        <!-- NOTIFICATION -->
        <button class="icon-btn">
          🔔
        </button>



        <div class="profile-wrapper">
          <div class="user-profile" (click)="toggleDropdown()">

            <div class="avatar">
              {{ getInitials(user?.name) }} </div>

            <div class="user-info">

              <span class="name">
                {{ user?.name }}
              </span>

              <span class="role">
                {{ user?.role }}
              </span>

            </div>

            <!-- Dynamic Arrow -->
            <!-- <i class="fa-solid arrow" [ngClass]="showDropdown ? 'fa-chevron-up' : 'fa-chevron-down'">
            </i> -->

            <span class="material-icons">
              {{ showDropdown ? 'expand_less' : 'expand_more' }}
            </span>

          </div>


          <div class="profile-dropdown" *ngIf="showDropdown">

            <!-- TOP -->
            <div class="dropdown-header">



              <div>

                <div class="dropdown-name">
                  {{ user?.name }}
                </div>

                <div class="dropdown-email">
                  {{ user?.email }}
                </div>

              </div>

            </div>

            <!-- DIVIDER -->
            <div class="divider"></div>

            <!-- LOGOUT -->
            <button class="logout-btn" (click)="logout()">

              <i class="fa-solid fa-right-from-bracket"></i>

              Logout
 
            </button>

          </div>

        </div>

      </div>

    </header>

    <!-- CONTENT -->
    <main class="content">
      <!-- Charts will come from another component -->
      <router-outlet></router-outlet>
    </main>

  </div>

</div>