<div class="layout">

  <!-- SIDEBAR -->
  <app-sidebar></app-sidebar>

  <!-- MAIN -->
  <div class="main" [class.collapsed]="!sidebarService.isOpen">

    <!-- TOPBAR -->
    <header class="topbar">

      <!-- LEFT -->
      <div class="top-left">

        <!-- MENU -->
        <!-- <button class="menu-btn" (click)="sidebarService.toggle()">
          ☰
        </button> -->

        <!-- SEARCH -->
        <div class="search-wrapper">
          <span class="search-icon">⌕</span>

          <input
            type="text"
            placeholder="Search projects, tasks, people..."
          />
        </div>

      </div>

      <!-- RIGHT -->
      <div class="top-right">

        <!-- NOTIFICATION -->
        <button class="icon-btn">
          🔔
        </button>

        <!-- USER -->
        <div class="user-profile">

          <!-- LOGO -->
          <div class="avatar">
            SC
          </div>

          <!-- USER INFO -->
          <div class="user-info">

            <span class="name">
              {{user?.name}}
            </span>

            <span class="role">
              {{user?.role }}
            </span>

          </div>

        </div>

      </div>

    </header>

    <!-- CONTENT -->
    <main class="content">
      <!-- Charts will come from another component -->
      <router-outlet></router-outlet>
    </main>

  </div>

</div>