<div class="projects-page">

    <!-- TOP HEADER -->
    <div class="header">

        <div>
            <h2>Projects</h2>
            <p class="subtitle">
                Plan, allocate, and track delivery.
            </p>
        </div>

        <button class="new-btn" (click)="openCreate()">
            + New Project
        </button>

    </div>

    <!-- PROJECT GRID -->
    <div class="project-grid">

        <div class="project-card" *ngFor="let project of projects" (click)="openDetails(project)">

            <!-- TOP -->
            <div class="card-top">

                <h3>{{ project.name }}</h3>

                <span class="priority" [ngClass]="project.priority?.toLowerCase()">

                    {{ project.priority }}

                </span>

            </div>

            <!-- DESCRIPTION -->
            <p class="description">
                {{ project.description }}
            </p>

            <!-- STATUS -->
            <div class="status-row">

                <span class="status">
                    {{ project.status }}
                </span>

                <span class="deadline">
                    Due {{ project.deadline }}
                </span>

            </div>

            <!-- PROGRESS -->
            <div class="progress-header">

                <span>Progress</span>

                <span>{{ project.progress }}%</span>

            </div>

            <div class="progress-bar">

                <div class="progress-fill" [style.width.%]="project.progress">

                </div>

            </div>

            <!-- FOOTER -->
            <div class="card-footer">

                <div class="avatars">

                    <div class="avatar">PP</div>
                    <div class="avatar">MT</div>
                    <div class="avatar">JK</div>

                </div>

                <span class="hours">
                    {{ project.estimatedHours }}h estimated
                </span>

            </div>

        </div>

    </div>

</div>

<!-- MODALS -->

<app-add-project    *ngIf="createModal"
(saveProject)="addProject($event)" style="z-index: 999;">
</app-add-project>



<app-project-details *ngIf="detailsModal" [project]="selectedProject">
</app-project-details>